@import "../../styles/variables/paths.scss";
@import "../../styles/variables/media.scss";

.api-request-modal {
  .row {
    height: 100%;
  }

  .banner-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding-left: 50px;

    @media #{$medium-and-down} {
      padding: 0;
    }
  }

  .api-request-banner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media #{$medium-and-down} {
      padding: 0;
    }

    .banner-title {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      line-height: 30px;
      font-weight: bold;
      font-size: 22px;
    }

    .api-request-banner {
      left: 0;
      right: 0;
      min-height: 400px;
      max-height: 500px;
      bottom: 0;
      position: absolute;
      background-image: url("#{$images_path}banner.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;

      @media #{$medium-and-down} {
        position: relative;
      }
    }
  }
}
