@import "../../styles/variables/paths.scss";
@import "../../styles/variables/media.scss";

.order-modal {
  .row {
    height: 100%;
  }

  .form .form-body .form-input.textarea {
    height: 40px;
  }

  .banner-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding-left: 50px;

    @media #{$medium-and-down} {
      padding: 0;
    }
  }

  .order-banner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media #{$medium-and-down} {
      padding: 0;
    }

    .banner-title {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      line-height: 30px;
      font-weight: bold;
      font-size: 22px;
    }

    .order-banner {
      left: 0;
      right: 0;
      min-height: 400px;
      max-height: 500px;
      position: absolute;
      bottom: 0;
      background-image: url("#{$images_path}order-banner.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;

      @media #{$medium-and-down} {
        position: relative;
      }
    }
  }

  .order-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: var(--shade-white);
    z-index: 1;

    @media #{$medium-and-down} {
      display: none;
    }

    &.mobile-order-items {
      display: none;

      @media #{$medium-and-down} {
        display: flex;
        position: relative;
      }
    }

    .order-item {
      width: 25%;
      display: flex;
      flex-direction: column;

      @media #{$medium-and-down} {
        width: 50%;
      }

      img {
        width: 100%;
        height: auto;
      }

      p {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
