$images_path: '/assets/images/';

.loader {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;

  .loader-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url("#{$images_path}loader.png");
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
