.form {
  width: 100%;
  padding: 20px;

  .form-header {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 22px;
  }

  .form-body {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .form-field {
      width: 100%;
      margin-bottom: 35px;
      position: relative;

      &.field-hidden {
        display: none;
      }
    }

    .form-input {
      width: 100%;
      min-height: 40px;
      padding: 0;
      border: none;
      font-size: 14px;
      border-bottom: 1px solid  var(--shade-ternary);
      outline: none;

      &:focus {
        border-bottom: 1px solid var(--shade-secondary);
      }

      &.textarea {
        height: 150px;
      }

      &.error {
        border-bottom: 1px solid red;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-input::-webkit-input-placeholder {
      font-family: MuliLight;
    }

    .form-input:-moz-placeholder {
      font-family: MuliLight;
    }
  }

  .form-result {
    width: 100%;
    padding: 10px 20px;
  }

  .form-footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;

    .form-button {
      min-width: 150px;
      height: 40px;
      padding: 0 20px;
      border-radius: 100px;
      margin: 0 10px;
      font-size: 13px;
      font-weight: bold;
      box-shadow: none;

      &.submit {
        color: var(--shade-white);
        background: var(--shade-secondary);
      }

      &.reset {
        border: 1px solid var(--shade-secondary);
        color: var(--shade-secondary);
        background: none;
      }
    }
  }
}

.form-result {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  color: var(--shade-secondary);
  font-size: 13px;
  font-weight: bold;
  text-align: center;

  &.success {
    color: #52d27b;
  }

  &.error {
    color: #fd6879;
  }
}
