@import "../../styles/variables/paths.scss";
@import "../../styles/variables/media.scss";

.editor {
  width: 100%;
  position: relative;
  padding: 10px 0;

  .upload-photo-section {
    width: 100%;
    position: relative;
    padding-right: 50px;
    display: flex;
    flex-direction: column;

    @media #{$medium-and-down} {
      padding-right: 0;
    }

    .mobile-title-box {
      display: none;

      @media #{$medium-and-down} {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: bold;
          text-align: center;
          padding: 0 20px;
          margin: 5px 0;
        }
      }
    }

    .logo-box {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .upload-photo-box {
      width: 100%;
      max-width: 325px;
      min-width: 270px;
      margin-top: 100px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 35px 10px;
      position: relative;
      background: var(--shade-white);
      box-shadow: var(--shadow-primary);
      border-radius: var(--radius-primary);
      border: 1px solid var(--shade-ternary-bold);


      @media #{$medium-and-down} {
        max-width: 100%;
        margin-top: 0;
      }

      .add-photo-button-box {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .upload-button {
          background: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @media #{$medium-and-down} {
            flex-direction: column;
          }

          #upload-input {
            display: none;
          }

          .upload-icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: var(--icons-color-primary);
            margin-right: 10px;
            font-size: 16px;
            color: var(--shade-white);

            @media #{$medium-and-down} {
              width: 40px;
              height: 40px;
              font-size: 20px;
              margin-bottom: 10px;
              margin-right: 0;
            }
          }

          .upload-label {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .photo-box {
        width: 100%;
        height: 200px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .empty-photo {
          width: 100%;
          max-width: 200px;
          padding: 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          @media #{$medium-and-down} {
            display: none;
          }

          .mark-section {
            width: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            line-height: 40px;
            font-size: 13px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .mark-icon {
              font-size: 14px;
              margin-right: 5px;
            }
          }
        }

        .empty-photo-mobile {
          width: 100%;
          height: 200px;
          padding: 0 20px;
          display: none;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          @media #{$medium-and-down} {
            display: flex;
          }

          .mark-title {
            width: 100%;
            margin: 0;
            padding: 10px;
            display: flex;
            align-items: center;
            line-height: 30px;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media #{$medium-and-down} {
              display: none;
            }
          }

          .mark-section {
            width: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            line-height: 30px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .user-photo {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      .draw-button-box {
        width: 100%;
        margin-top: 30px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .draw-button {
          height: 40px;
          min-width: 200px;
          padding: 0 10px;
          font-size: 13px;
          font-weight: bold;
          border-radius: 50px;
          color: var(--shade-white);
          background: var(--shade-secondary);

          &.disabled {
            pointer-events: none;
            background: var(--shade-secondary-week);
          }
        }
      }
    }

    .feedback-button {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      margin: 20px 0;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;

      @media #{$medium-and-down} {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .edit-photo-section {
    width: 100%;
    position: relative;

    .edit-photo-box {
      width: 100%;
      height: 90vh;
      min-height: 600px;
      max-height: 700px;
      position: relative;
      background: var(--shade-white);
      box-shadow: var(--shadow-primary);
      border-radius: var(--radius-primary);
      border: 1px solid var(--shade-ternary-bold);
      overflow: hidden;

      @media #{$medium-and-down} {
        display: none;
        height: auto;
        max-height: unset;
      }

      .editor-content {
        width: 100%;
        height: 100%;
        position: relative;
        background-size: auto 100%;
        background-position: right bottom;
        background-repeat: no-repeat;

        .loader {
          top: 50px;
        }

        &.empty {
          background-image: url("#{$images_path}editor-preview.jpg");

          @media #{$medium-and-down} {
            background-image: url("#{$images_path}editor-empty-mobile.png");
            background-position: center bottom;
            background-size: auto 80%;
          }
        }

        &.loading {
          background-image: url("#{$images_path}editor-loading.png");

          @media #{$medium-and-down} {
            background-image: url("#{$images_path}editor-loading-mobile.png");
            background-position: center bottom;
            background-size: auto 80%;
          }
        }

        &.error {
          background-image: url("#{$images_path}editor-error.jpg");

          @media #{$medium-and-down} {
            background-image: url("#{$images_path}editor-error-mobile.png");
            background-position: center bottom;
            background-size: auto 80%;
          }
        }
      }
    }
  }
}
