$images_path: '/assets/images/';
@import "../../styles/variables/media.scss";

.feedback-page {
  background: var(--shade-white);

  .feedback-wrapper {
    width: 100%;

    @media #{$medium-and-down} {
      .row {
        flex-direction: column-reverse;
      }
    }
  }

  .feedback-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .feedback-banner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .feedback-banner {
      width: 100%;
      height: 100%;
      min-height: 600px;
      position: relative;
      background-image: url("#{$images_path}feedback-page-bg.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
    }
  }
}
