.page-content {
  width: 100%;
  padding: 10px;
  margin: 0 auto;

  h1 {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    margin: 10px 0;
  }

  p {
    line-height: 24px;
    font-size: 13px;
  }

  a {
    color: var(--shade-secondary);

    &:hover {
      text-decoration: underline;
    }
  }

  table, table td {
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
  }
}
