.logo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: right;
  color: var(--shade-secondary);
  margin: 10px 0;

  .logo {
    width: auto;
    height: 50px;
  }
}
