.wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .wrapper-header {
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper-title {
      font-size: 14px;
      font-weight: bold;
    }

    .close-button {
      font-size: 18px;
    }
  }

  .wrapper-body {
    width: 100%;
    padding: 10px 0;
  }
}
