.pages-navigation {
  width: 100%;
  padding: 10px;
  display: inline-block;

  .page-navigation-item {
    float: left;
    padding: 10px 0;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--shade-secondary);

    &:hover {
      text-decoration: underline;
    }
  }
}
