.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .col {
    padding: var(--space-ternary);

    &.col-inline {
      display: inline-flex;
    }

    $i: 1;
    @while $i <= $num-cols {
      $percent: unquote((100 / ($num-cols / $i)) + "%");
      &.col-small-#{$i} {
        width: $percent;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {
      padding: var(--space-ternary);
      $i: 1;
      @while $i <= $num-cols {
        $percent: unquote((100 / ($num-cols / $i)) + "%");
        &.col-medium-#{$i} {
          width: $percent;
        }
        $i: $i + 1
      }
    }

    @media #{$large-and-up} {
      padding: var(--space-ternary);

      $i: 1;
      @while $i <= $num-cols {
        $percent: unquote((100 / ($num-cols / $i)) + "%");
        &.col-large-#{$i} {
          width: $percent;
        }
        $i: $i + 1;
      }
    }
  }
}
