html, body {
  font-family: MuliLight;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  * {
    box-sizing: border-box;
  }

  .App {
    &.light-theme {
      --shade-white: #ffffff;
      --shade-primary: #390d80;
      --shade-secondary: #202020;
      --shade-secondary-week: #9F9F9F;
      --shade-ternary-bold: #D8D8D8;
      --shade-ternary: #f1f1f1;
      --space-primary: 10px;
      --space-secondary: 5px;
      --space-ternary: 2px;
      --radius-primary: 8px;
      --radius-secondary: 3px;
      --shadow-primary: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      --shadow-secondary: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      --icons-color-primary: #ff7092;
      --field-height-primary: 35px;
    }
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 50px 0;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    .button-icon {
      width: auto;
      height: 25px;
    }
  }
}
