@import "../../styles/variables/media.scss";

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  min-width: 330px;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  background: var(--shade-white);
  border-radius: var(--radius-secondary);
  box-shadow: var(--shadow-secondary);

  @media #{$medium-and-down} {
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .modal-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-title {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .close-modal {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 22px;
    color: var(--shade-secondary);
  }

  .modal-body {
    width: 100%;
    height: 100%;
    padding: 50px 50px 0 50px;
    justify-content: center;
    overflow: auto;
  }
}
