$images_path: '/assets/images/';
@import "../../styles/variables/media.scss";

.drawer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .canvas-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--shade-white);
    z-index: 10;
  }

  .drawer-panel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex: 0 auto;

    @media #{$medium-and-down} {
      flex-direction: column-reverse;
    }

    .drawer-image-box {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;

      @media #{$medium-and-down} {
        height: 50vh;
      }

      .drawer-canvas-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    .drawer-tools-box {
      min-width: 400px;
      height: 100%;
      padding: 0 10px;
      position: relative;
      background-color: var(--shade-white);
      background-image: url("#{$images_path}editor-draw.png");
      background-position: bottom center;
      background-size: contain;
      background-repeat: no-repeat;

      @media #{$medium-and-down} {
        width: 100%;
        min-width: auto;
        height: auto;
        background-image: none;
      }

      .tools-list {
        width: 100%;
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: flex-end;

        .tool-item {
          min-width: 60px;
          width: auto;
          background: none;
          border: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          color: var(--shade-secondary);
          font-size: 25px;

          .share-loader {
            position: relative;
          }

          .label {
            font-size: 13px;
            margin-top: 5px;
          }

          &.share-tool {
            pointer-events: none;
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        .share-wrapper {
          width: 200px;
          right: 0;
          top: 70px;
          display: flex;
          flex-direction: column;
          background: var(--shade-white);
          border-radius: var(--radius-secondary);
          box-shadow: var(--shadow-secondary);

          .social-item {
            width: 100%;
            height: 35px;
            padding: 0 30px;
            font-size: 13px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--shade-secondary);

            &:hover {
              background: var(--shade-ternary);
            }

            .social-icon {
              font-size: 18px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .draw-tools-panel {
    width: 100%;
    height: 150px;
    display: flex;
    background: var(--shade-white);

    @media #{$medium-and-down} {
      height: auto;
      flex-direction: column;
    }

    .colors-panel {
      width: 100%;
      padding: 10px 30px;
      display: flex;
      flex-direction: column;

      .color-label {
        width: 100%;
        margin: 0;
        font-size: 13px;
        line-height: 25px;
        font-weight: bold;

        @media #{$medium-and-down} {
          display: none;
        }
      }

      .colors-list {
        width: 100%;
        display: flex;
        padding: 5px 0;

        @media #{$medium-and-down} {
          justify-content: center;
        }

        .color-item {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          border-radius: 100%;
          border: 1px solid var(--shade-ternary);

          @media #{$medium-and-down} {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(9) {
              display: none;
            }
          }
        }

        .new-color {
          width: 35px;
          height: 35px;
          position: relative;
          border-radius: 100%;
          background: var(--shade-white);
          border: 1px solid var(--shade-secondary-week);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          font-size: 14px;
          color: var(--shade-secondary-week);

          .color-picker {
            width: 200px;
            height: auto;
            position: absolute;
            bottom: 40px;
            right: 40px;

            .chrome-picker {
              padding: 15px;

              .flexbox-fix {
                .flexbox-fix + div {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .order-buttons {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @media #{$medium-and-down} {
        width: 100%;
        padding: 10px;
        align-items: center;
      }

      .order-button {
        width: auto;
        margin: 10px 0;
        font-size: 16px;
        background: none;
        border: none;
        display: flex;
        white-space: nowrap;
        text-decoration: underline;

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}

#fake-canvas-box {
  display: none;
}
