$shadow-circle-largest: 0 0 18px 0 rgba(0, 0, 0, 0.5);
$shadow-circle-larger: 0 0 16px 0 rgba(0, 0, 0, 0.5);
$shadow-circle-large: 0 0 14px 0 rgba(0, 0, 0, 0.5);
$shadow-circle-small: 0 0 10px 0 rgba(0, 0, 0, 0.5);
$shadow-circle-smaller: 0 0 6px 0 rgba(0, 0, 0, 0.5);
$shadow-circle-smallest: 0 0 2px 0 rgba(0, 0, 0, 0.5);
