@import "../../styles/variables/media.scss";

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$medium-and-down} {
      flex-direction: column-reverse;
      padding: 0 10px;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .social-nav-item {
      width: 22px;
      height: 22px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 22px;
      text-decoration: none;
      color: var(--shade-secondary);
      cursor: pointer;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .navigation {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;

    .nav-item {
      padding: 10px;
      font-size: 12px;
      color: var(--shade-secondary);
      text-decoration: none;

      @media #{$medium-and-down} {
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
