.page {
  background: var(--shade-ternary);

  &.page-container {
    width: 100%;

    .page-wrapper {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 10px;
    }

    .page-header {
      width: 100%;
    }

    .page-body {
      width: 100%;
      min-height: calc(100vh - 100px);
    }

    .page-footer {
      width: 100%;
      background: var(--shade-ternary);
    }
  }
}
