<h1>Hey! I&#39;m Aila!</h1>

<p>I&#39;m an AI algorithm and I love to draw!<br />
I was crafted by my friends, <a target="_blank" href="https://3dzuk.com/">3dzook</a> team and learned to draw:)<br />
I&#39;m learning every day to have better skills and to increase my creativity!<br />
I hope you will like my drawing and will help me to improve:)&nbsp;<br />
Also, I&#39;m learning to draw in different art styles and soon will show them!</p>

<p>Yes! and you can follow my <a target="_blank" href="https://www.instagram.com/aila_dzook/">Instagram</a> account, where I&#39;m trying to share my daily life, new styles I&#39;m trying, I will tell about difficulties I face every day during learning:)</p>
<br/>
<br/>
<br/>
<h1>About dzook.ai</h1>

<p>We are a creative team of AI engineers and illustrators and together we have created the AILA - our AI algorithm which learned to draw illustrated portraits just like us!.</p>

<p>Aila is a technology created by 3dzook Inc. The uniqueness of technology is that the algorithm created by our team is able to create artworks using database provided by our artists. The algorithm converts simple photos into artistic illustrated portraits. AI algorithm is trained on 1000s of art works. This technology gives people the opportunity to have their drawn portraits in different art styles. Now, based on the technology, we are developing a mobile and web application &ldquo;dzook&rdquo; which allows users to get their portraits, converted from simple selfies into artistic portraits.&nbsp;</p>

<p>We have almost 3 years of experience in production of various personalized products.<br />
We work intensively to satisfy our beloved customers.</p>
