<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Please read this acceptable use policy (&quot;policy&quot;, &ldquo;AUP&rdquo;) carefully before using <a href="https://www.dzook.ai">dzook.ai</a> website (&ldquo;website&rdquo;, &quot;service&quot;) operated by <a href="https://www.dzook.ai">dzook.ai </a>(&quot;us&quot;, &#39;we&quot;, &quot;our&quot;).</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Services provided by us may only be used for lawful purposes. You agree to comply with all applicable laws, rules and regulations in connection with your use of the services. Any material or conduct that in our judgment violates this policy in any manner may result in suspension or termination of the services or removal of user&rsquo;s account with or without notice.</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Prohibited use</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You may not use the services to publish content or engage in activity that is illegal under applicable law, that is harmful to others, or that would subject us to liability, including, without limitation, in connection with any of the following, each of which is prohibited under this AUP:</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&middot;</span></span></span><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Phishing or engaging in identity theft</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&middot;</span></span></span><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Distributing computer viruses, worms, Trojan horses or other malicious code</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&middot;</span></span></span><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Distributing pornography or adult related content or offering any escort services</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&middot;</span></span></span><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Promoting or facilitating violence or terrorist activities</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&middot;</span></span></span><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Infringing the intellectual property or other proprietary rights of others</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Enforcement</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Your services may be suspended or terminated with or without notice upon any violation of this policy. Any violations may result in the immediate suspension or termination of your account.</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Reporting violations</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">To report a violation of this policy, please contact us by email: </span></span></span><a href="mailto:aup@dzoook.ai?subject=AUP">aup@dzoook.ai</a></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<h1>&nbsp;</h1>
