<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>3dzook, Inc.</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Attn: Legal &ndash; Privacy</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff">2035 Sunset Lake Road, Suite B-2 , Newark, Delaware 19702, USA</span></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;Welcome to dzook app&rsquo;s&nbsp; Privacy Policy!</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Thank you for choosing to be part of our community at 3dzook, Inc. doing business as dzook&nbsp; (&ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>dzook</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>we</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>us</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, or &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>our</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at </span></span></span><a href="mailto:privacy@dzook.ai?subject=App's%20Privacy%20Policy"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc">privacy@dzook.ai</span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> </span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">If you decide not to read this entire Privacy Policy, we want you to walk away with a few key points about dzook&rsquo;s privacy practices:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;The App is an illustrated portrait creator that allows users to convert simple selfie or photo to cartoonish illustration using filters and features based on our AI algorithm&nbsp; technology that automatically generates illustrated portraits.&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Due to the limited processing resources available on mobile devices, we use third-party cloud provider &ndash; specifically, Amazon Web Services &ndash; to process and transform photographs.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">The App only uploads to the cloud the photographs that you specifically select for editing.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We do not use the photographs you provide when you use the App for any reason other than to provide you with the portrait converting functionality of the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">If you have any questions about our privacy practices, please email </span></span></span><a href="mailto:privacy@dzook.ai?subject=App's%20Privacy%20Policy"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc">privacy@dzook.ai</span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> .</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Here&rsquo;s more on our privacy practices. Individuals located in the European</span></span></span><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:European_Economic_Area_(EEA)" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc"><u>Economic Area</u></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> should also read our Notice to European Users below.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Personal Information We Collect</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">When you use dzook app, we may collect information about you, including:</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Photographs you provide when you use the App,</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> via your camera or camera roll (if you have granted us permission to access your camera or camera roll). We obtain only the specific images you chose to modify using the App; we do not collect your photo albums even if you grant us your access to them. This means that the only device that can view the photo is the device from which the photograph was uploaded using the App &ndash; the user&rsquo;s device. Please note that while we do not require or request any metadata attached to the photographs you upload, metadata (including, for example, geotags) may be associated with your photographs by default.&nbsp;</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>App usage information,</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> such as information about how you use the App and interact with us, the date and time when you first installed the App and the date and time you last used the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Device data,</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> such as your computer and mobile device operating system type and version number, manufacturer and model, device ID, push tokens, Google Advertising ID, Apple ID for Advertising, browser type, screen resolution, IP address (and the associated country in which you are located), the website you visited before visiting our Site; and other information about the device you are using to visit the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Online activity data</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">, such as information about your use of and actions on the App and the Sites, including pages or screens you viewed, how long you spent on a page or screen, navigation paths between pages or screens, information about your activity on a page or screen, access times, and length of access.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How We Use Your Personal Information</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We do not use the photographs you provide when you use the App for any reason other than to provide you with the portrait convertor functionality of the App. We may use information other than photographs for the following purposes:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To operate and improve the App:</strong></span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Enable you to use the App&rsquo;s features;</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Communicate with you about the App, including by sending you announcements, updates, and security alerts, which we may send through a push notification, and responding to your requests, questions and feedback;</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:6.999999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Provide technical support and maintenance for the App;</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Perform statistical analysis about use of the App (including through the use of</span></span></span><a href="https://policies.google.com/technologies/partner-sites" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc"><u>Google Analytics</u></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">);</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#212529">Establish and maintain your account, if you choose to login to the App using your social media account.</span></span></span></li>
</ul>

<p style="margin-left:24px"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To send you marketing and promotional communications.</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> We may send you marketing communications as permitted by law. You will have the ability to opt-out of our marketing and promotional communications as described in the Opt out of marketing section below.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>For compliance, fraud prevention, and safety.</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your personal information and disclose it to law enforcement, government authorities, and private parties as we believe necessary or Appropriate to: (a) protect our, your or others&rsquo; rights, privacy, safety or property (including by making and defending legal claims); (b) enforce the terms and conditions that govern the Service; and (c) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>With your consent.</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> In some cases, we may specifically ask for your consent to collect, use or share your personal information, such as when required by law.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How We Share Your Personal Information</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;We do not disclose user photographs to third parties (with the exception of uploading an image to our cloud Amazon Web Services to provide the photo convertor features of the App). We may share your non-photograph information in the following circumstances:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Affiliates. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We may share App usage information with our subsidiaries and affiliates, for purposes consistent with this Privacy Policy.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Service providers. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We may share your personal information with services providers that perform services on our behalf or help us operate the App (such as customer support, hosting, analytics, email delivery, marketing, and database management services). These third parties may use your personal information only as directed or authorized by us and in a manner consistent with this Privacy Policy, and are prohibited from using or disclosing your information for any other purpose.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Advertising partners. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">When we use third-party cookies and other tracking tools, our advertising partners may collect information from your device to help us analyze use of the Site and the App, display advertisements on the App and advertise the Site and App (and related content) elsewhere online.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Professional advisors. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We may disclose your personal information to professional advisors, such as lawyers, bankers, auditors and insurers, where necessary in the course of the professional services that they render to us.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;For compliance, fraud prevention and safety. We may share your personal information for the compliance, fraud prevention and safety purposes described above.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Business transfers. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We may sell, transfer or otherwise share some or all of our business or assets, including your personal information, in connection with a business transaction (or potential business transaction) such as a corporate divestiture, merger, consolidation, acquisition, reorganization or sale of assets, or in the event of bankruptcy or dissolution.</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Compliance with Law</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We may be required to use and share your personal information to comply with applicable laws, lawful requests, and legal process, such as to respond to subpoenas or requests from government authorities.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Your Choices</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">In this section, we describe the rights and choices available to all users. Users who are located within European can find additional information about their rights below.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Opt out of marketing communications and other push notifications.</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> You may opt out of marketing-related communications and other notifications we may send you via push notification by changing the settings on your mobile device.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Device permissions. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You may revoke any permissions you previously granted to us, such as permission to access your camera or camera roll, through the settings on your mobile device.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Cookies &amp; Browser Web Storage.</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> Most browsers let you remove or reject cookies. To do this, follow the instructions in your browser settings. Many browsers accept cookies by default until you change your settings. Please note that if you set your browser to disable cookies, the Site may not work properly. Similarly, your browser settings may allow you to clear your browser web storage.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Targeted online advertising. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Some of the business partners that collect information about users&rsquo; activities on or through the Site or App may be members of organizations or programs that provide choices to individuals regarding the use of their browsing behavior or mobile application usage for purposes of targeted advertising.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">3dzook, Inc. may transfer your personal information to third parties as described in this </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Privacy Policy</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong> </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">3dzook, Inc. maintains contracts with its third-party service providers restricting their access, use and disclosure of personal information in compliance with our Privacy Shield obligations.&nbsp; 3dzook, Inc. may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Children</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">The App is not directed at children under the age of 13, and our Terms of Use do not allow children under 13 years of age to use the App. If we learn that we have collected personal information of a child under the age of 13, we will delete it. We encourage parents with concerns to contact us.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Changes to the Privacy Policy</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We reserve the right to modify this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by updating the date of this Privacy Policy and posting it on the App. We may, and if required by law, will, provide notification of changes in another way that we believe is reasonably likely to reach you, such as through the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;Any modifications to this Privacy Policy will be effective upon our posting the new terms and/or upon implementation of the new changes on the App (or as otherwise indicated at the time of posting). In all cases, your continued use of the App after the posting of any modified Privacy Policy indicates your acceptance of the terms of the modified Privacy Policy.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How to Contact Us</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Please direct any questions or comments about this Policy or privacy practices to </strong></span></span></span><a href="mailto:privacy@dzook.ai?subject=App's%20Privacy%20Policy"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc"><strong>privacy@dzook.ai</strong></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>.&nbsp;</strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Notice to European Users</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">The information provided in this &ldquo;Notice to European Users&rdquo; section applies only to individuals who reside in Europe.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Personal information</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">. References to &ldquo;personal information&rdquo; in this Privacy Policy are equivalent to &ldquo;personal data&rdquo; governed by European data protection legislation.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Legal bases for processing. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We use your personal information only as permitted by law. Our legal bases for processing the personal information described in this Privacy Policy are described in the table below.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To operate and improve the App. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Processing is necessary to perform the contract governing our provision of services in connection with the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To send you marketing and promotional communications.</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To display advertisements to you.</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>For compliance, fraud prevention and safety.</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">These activities constitute our legitimate interests. We do not use your personal information for these activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted to by law).</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Compliance with Law&nbsp;&nbsp;</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Processing is necessary to comply with our legal obligations.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>With your consent</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong> </strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Processing is based on your consent. Where we rely on your consent you have the right to withdraw it any time in the manner indicated when you consent or in the App.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Your rights</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">European data protection laws give you certain rights regarding your personal information. If you are located within the European Union, you may ask us to take the following actions in relation to your personal information that we hold:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Access. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Provide you with information about our processing of your personal information and give you access to your personal information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Correct. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Update or correct inaccuracies in your personal information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Delete. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Delete your personal information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Transfer. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Transfer a machine-readable copy of your personal information to you or a third party of your choice.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Restrict. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Restrict the processing of your personal information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Object. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Object to our reliance on our legitimate interests as the basis of our processing of your personal information that impacts your rights.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You may submit these requests by email to </span></span></span><a href="mailto:gdpr@dzook.ai?subject=App's%20GDPR"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc">gdpr@dzook.ai</span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp; .</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Notice to California Residents</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;We are required by the California Consumer Privacy Act of 2018 (&ldquo;CCPA&rdquo;) to provide to California residents an explanation of how we collect, use and share their personal information, and of the rights and choices we offer California residents regarding our handling of their personal information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">We do not sell personal information. As we explain in this Privacy Policy, we use cookies and other tracking technologies to analyze Site and App traffic and use, and to facilitate advertising.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">In addition to disclosures of personal information to our service providers and professional advisors, for compliance, fraud prevention and safety, and in connection with a business transfer, as described in the &ldquo;How We Share Your Personal Information&rdquo; section of the Privacy Policy, the following chart further describes our privacy practices with respect to the personal information of our California consumers.</span></span></span></p>

<p>&nbsp;</p>
<table align="center" border="0" cellpadding="5" cellspacing="1" style="width:100%">
    <tbody>
    <tr>
        <td style="text-align:center"><br />
            &nbsp;Personal&nbsp;<br />
            information<br />
            we collect<br />
            &nbsp;</td>
        <td style="text-align:center">CCPA-<br />
            defined&nbsp;<br />
            categories</td>
        <td style="text-align:center">Sources of&nbsp;<br />
            personal&nbsp;<br />
            information&nbsp;&nbsp; &nbsp;</td>
        <td style="text-align:center">
            <p>Purposes for which</p>

            <p>we may collect and use</p>

            <p>the personal information</p>
        </td>
        <td style="text-align:center">Data Sharing<br />
            &nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:center">
            <p>Photographs</p>

            <p>App usage information &nbsp;</p>
        </td>
        <td style="text-align:center">
            <p>Physical description&nbsp;</p>

            <p>Online identifiers</p>

            <p>Internet or network information</p>

            <p>Inferences</p>
        </td>
        <td style="text-align:center">
            <p>You&nbsp;&nbsp;</p>

            <p>You</p>

            <p>Automatic collection</p>
        </td>
        <td style="text-align:center">
            <p>To operate and improve the App</p>

            <p>To operate and improve the App</p>

            <p>To send you marketing and promotional communications<br />
                &nbsp;</p>
        </td>
        <td style="text-align:center">
            <p>Shared with third-party platforms (e.g., social media networks) at your direction</p>

            <p>Shared with cloud service provider (Amazon Web Services)<br />
                Shared with affiliates that provide services to us<br />
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            <p>Device data</p>

            <p>Online activity data</p>
        </td>
        <td style="text-align:center">
            <p>Online identifiers</p>

            <p>Internet or network information</p>

            <p>Inferences</p>
        </td>
        <td style="text-align:center">
            <p>You</p>

            <p>Automatic collection</p>
        </td>
        <td style="text-align:center">To display advertisements to you</td>
        <td style="text-align:center">Collected directly by advertising partners</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>California Residents&rsquo; Privacy Rights</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;Except as excluded from the scope of this notice above, the CCPA grants California residents the following rights.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Information. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You can request information about how we have collected, used and shared and used your personal information during the past 12 months. We have made this information available to California residents without having to request it by including it in this notice, in the above chart.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Access. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You can request a copy of the personal information that we maintain about you.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Deletion. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You can ask us to delete the personal information that we collected or maintain about you.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Please note that the CCPA limits these rights by, for example, prohibiting us from providing certain sensitive information in response to an access request and limiting the circumstances in which we must comply with a deletion request. If we deny your request, we will communicate our decision to you. You are entitled to exercise the rights described above free from discrimination.</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How to Submit a Request</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">To request access to or deletion of personal information:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;Email:</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong> <a href="mailto:privacy@dzook.ai?subject=App's%20Privacy%20Policy">privacy@dzook.ai</a></strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Identity verification. </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">The CCPA requires us to verify the identity of the individual submitting a request to access or delete personal information before providing a substantive response to the request. We may attempt to verify your identity by asking you to confirm information that we have on file about you or your interactions with us. Where we ask for additional personal information to verify your identity, we will only use it to verify your identity or your authority to make the request on behalf of another consumer.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><br />
    &nbsp;</p>

<p>&nbsp;</p>

