<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">This Cookie Policy explains how 3dzook, Inc.&nbsp; (&quot;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>Company</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">&quot;, &quot;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>we</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">&quot;, &quot;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>us</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">&quot;, and &quot;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>our</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">&quot;) uses cookies and similar technologies to recognize you when you visit our websites at </span></span></span><a href="https://dzook.ai" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#1155cc"><u>https://dzook.ai</u></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">, (&quot;</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>Websites</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">&quot;). It explains what these technologies are and why we use them, as well as your rights to control our use of them.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>What are cookies?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">Cookies set by the website owner (in this case dzook.ai) are called &quot;first party cookies&quot;. Cookies set by parties other than the website owner are called &quot;third party cookies&quot;. Third party cookies enable third party features or functionality to be provided on or through the website (e.g. like advertising, interactive content and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Why do we use cookies?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as &quot;essential&quot; or &quot;strictly necessary&quot; cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. Third parties serve cookies through our Websites for advertising, analytics and other purposes. This is described in more detail below.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">The specific types of first and third party cookies served through our Websites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How can I control cookies?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly necessary to provide you with services.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser&#39;s help menu for more information.</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit </span></span></span><a href="http://www.aboutads.info/choices/" style="text-decoration:none">http://www.aboutads.info/choices/</a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"> .</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>What about other tracking technologies, like web beacons?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">Cookies are not the only way to recognize or track visitors to a website. We may use other, similar technologies from time to time, like web beacons (sometimes called &quot;tracking pixels&quot; or &quot;clear gifs&quot;). These are tiny graphics files that contain a unique identifier that enable us to recognize when someone has visited our Websites or opened an e-mail including them. This allows us, for example, to monitor the traffic patterns of users from one page within a website to another, to deliver or communicate with cookies, to understand whether you have come to the website from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of email marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How often will you update this Cookie Policy?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">The date at the top of this Cookie Policy indicates when it was last updated.</span></span></span></p>

<h2><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>How to disable Cookies</strong></span></span></span></h2>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">You can generally activate or later deactivate the use of cookies through a functionality built into your web browser. To learn more about how to control cookie settings through your browser:</span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Firefox</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> - click&nbsp; </span></span></span><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">here </span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">to learn more about the &ldquo;Private Browsing&rdquo; setting and managing cookie settings.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Chrome</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> - click&nbsp; </span></span></span><a href="https://support.google.com/chrome/answer/95647?hl=en" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">here </span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">to learn more about &ldquo;Incognito&rdquo; and managing cookie settings.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Internet Explorer</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> - click&nbsp; </span></span></span><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">here </span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">to learn more about &ldquo;InPrivate&rdquo; and managing cookie settings.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Safari</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> - click&nbsp; </span></span></span><a href="https://support.apple.com/kb/ph21411?locale=en_US" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">here </span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">to learn more about &ldquo;Private Browsing&rdquo; and managing cookie setting.</span></span></span></li>
</ul>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">If you want to learn more about cookies, or how to control, disable or delete them, please visit&nbsp; </span></span></span><a href="http://www.aboutcookies.org/" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">http://www.aboutcookies.org</span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"> for detailed guidance. In addition, certain third party advertising networks, including Google, permit users to opt out of or customize preferences associated with your internet browsing. To learn more about this feature from Google, click&nbsp; </span></span></span><a href="https://adssettings.google.com/u/0/authenticated?hl=en" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#158fff">here.</span></span></span></a></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Many jurisdictions require or recommend that website operators inform users/visitors as to the nature of cookies they utilize and, in certain circumstances, obtain the consent of their users to the placement of certain cookies.&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">The Sites include third party social media features, such as the Facebook Like button, and third party widgets, such as the &lsquo;Share This&rsquo; button or interactive mini-programs that run on the Sites. These features may collect your IP address, which page you are visiting on the Sites, and set a cookie to enable the feature to function properly. Your interaction with these features is governed by the privacy policy of the third party company providing it.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Where can I get further information?</strong></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">If you have any questions about our use of cookies or other technologies, please email us at&nbsp; </span></span></span><a href="mailto:terms@dzook.ai?subject=Terms"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"><strong>terms@dzook.ai</strong></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959"> .</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">3dzook Inc </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">2035 Sunset Lake Road, Suite B-2&nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">Newark,&nbsp; DE 19702 </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#595959">United States &nbsp; </span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p>&nbsp;</p>
