<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Thank you for choosing to be part of our community at 3dzook, Inc. doing business as dzook.ai (&ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>dzook.ai</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>we</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>us</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;, or &ldquo;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>our</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&rdquo;). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at </span></span></span><a href="mailto:privacy@dzook.ai?subject=PRIVACY%20POLICY"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>privacy@dzook.ai</strong></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> .</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">When you visit our website </span></span></span><a href="https://www.dzook.ai" style="text-decoration:none"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><u>https://www.dzook.ai</u></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">This privacy policy applies to all information collected through our website (such as </span></span></span><a href="https://www.dzook.ai" style="text-decoration:none"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><u>https://www.dzook.ai</u></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the &quot;</span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Services</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&quot;).</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:14.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>TABLE OF CONTENTS</strong></span></span></span></p>

<p><a id="1" name="1"><u><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info1" style="color:#000000">1. WHAT INFORMATION DO WE COLLECT?</a></span></span></u></a></p>

<p><a id="2" name="2"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info2" style="color:#000000"><u>2. HOW DO WE USE YOUR INFORMATION?</u></a></span></span></a></p>

<p><a id="3" name="3"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info3" style="color:#000000"><u>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</u></a></span></span></a></p>

<p><a id="4" name="4"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info4" style="color:#000000"><u>4. WHO WILL YOUR INFORMATION BE SHARED WITH?</u></a></span></span></a></p>

<p><a id="5" name="5"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info5" style="color:#000000"><u>5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</u></a></span></span></a></p>

<p><a id="6" name="6"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info6" style="color:#000000"><u>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</u></a></span></span></a></p>

<p><a id="7" name="7"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info7" style="color:#000000"><u>7. HOW LONG DO WE KEEP YOUR INFORMATION?</u></a></span></span></a></p>

<p><a id="8" name="8"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info8" style="color:#000000"><u>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</u></a></span></span></a></p>

<p><a id="9" name="9"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info9" style="color:#000000"><u>9. WHAT ARE YOUR PRIVACY RIGHTS?</u></a></span></span></a></p>

<p><a id="10" name="10"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info10" style="color:#000000"><u>10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</u></a></span></span></a></p>

<p><a id="11" name="11"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info11" style="color:#000000"><u>11. DO WE MAKE UPDATES TO THIS POLICY?</u></a></span></span></a></p>

<p><a id="12" name="12"><span style="font-size:11.5pt"><span style="font-family:Arial"><a href="#info12" style="color:#000000"><u>12. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</u></a></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#1"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info1">1. WHAT INFORMATION DO WE COLLECT?</strong></span></span></span></a></p>

<p><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Personal information you disclose to us</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short:</em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp; </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We collect personal information that you provide to us.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We collect personal information that you voluntarily provide to us when registering at the Services expressing an interest in obtaining information about us or our products and services, when participating in activities on the Services or otherwise contacting us.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products and features you use. The personal information we collect can include the following:</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Publicly Available Personal Information.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We collect first name, last name; email addresses; social media; phone numbers; business email; business phone number; and other similar data.&nbsp;</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Social Media Login Data.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may provide you with the option to register using social media account details, like your Facebook, Google or other social media account. If you choose to register in this way, we will collect the Information described in the section called <a id="6" name="6">&quot;HOW DO WE HANDLE YOUR SOCIAL LOGINS&quot;</a> below.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Information automatically collected</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short:&nbsp; </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>Some information &mdash; such as IP address and/or browser and device characteristics &mdash; is collected automatically when you visit our Services.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We automatically collect certain information when you visit, use or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Like many businesses, we also collect information through cookies and similar technologies.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Online Identifiers.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We collect devices; applications; tools and protocols, such as IP (Internet Protocol) addresses; cookie identifiers, or others such as the ones used for analytics and marketing; device&#39;s geolocation; and other similar data.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Information collected from other sources</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may obtain information about you from other sources, such as public databases, joint marketing partners, social media platforms (such as Facebook), as well as from other third parties. Examples of the information we receive from other sources include: social media profile information (your name, gender, birthday, email, current city, state and country, user identification numbers for your contacts, profile picture URL, and any other information that you choose to make public); marketing leads and search results and links, including paid listings (such as sponsored links). We will inform you about the source of information and the type of information and the type of information we have collected about you within a reasonable period after obtaining the personal data, but at the latest within one month.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#2"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info2">2. HOW DO WE USE YOUR INFORMATION?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We use the information we collect or receive:</span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To facilitate account creation and logon process.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract. See the section below headed <a id="6" name="6">&quot;<u>HOW DO WE HANDLE YOUR SOCIAL LOGINS</u>&quot;</a> for further information.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To send you marketing and promotional communications.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We and/or our third party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the <a id="9" name="9">&quot;<u>WHAT ARE YOUR PRIVACY RIGHTS</u>&quot;</a> below).</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To send administrative information to you. </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Fulfill and manage your orders.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Services.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To post testimonials.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We post testimonials on our Services that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at<a href="mailto: privacy@dzook.ai?subject=PRIVCY%20POLICY"> </a></span></span></span><a href="mailto: privacy@dzook.ai?subject=PRIVCY%20POLICY"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><u>privacy@dzook.ai</u></strong></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> and be sure to include your name, testimonial location, and contact information.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Deliver targeted advertising to you. </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may use your information to develop and display content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Request Feedback.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information to request feedback and to contact you about your use of our Services.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To protect our Services.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention).</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To enforce our terms, conditions and policies for Business Purposes, Legal Reasons and Contractual.</strong></span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To respond to legal requests and prevent harm. </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To deliver services to the user.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information to provide you with the requested service.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>To respond to user inquiries/offer support to users.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>For other Business Purposes.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Services, products, marketing and your experience. We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.</span></span></span></li>
</ul>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#3"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info3">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may process or share data based on the following legal basis:</span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Consent:</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may process your data if you have given us specific consent to use your personal information in a specific purpos</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Legitimate Interests:</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may process your data when it is reasonably necessary to achieve our legitimate business interests.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Performance of a Contract: </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Legal Obligations:</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Vital Interests:</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</span></span></span></li>
</ul>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">More specifically, we may need to process your data or share your personal information in the following situations:</span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Vendors, Consultants and Other Third-Party Service Providers.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Services, which will enable them to collect data about how you interact with the Services over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes. We have contracts in place with our data processors. This means that they cannot do anything with your personal information unless we have instructed them to do it. They will not share your personal information with any organization apart from us. They will hold it securely and retain it for the period we instruct.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Affiliates.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may share your information with our affiliates, in which case we will require those affiliates to honor this privacy policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Business Partners.</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"> We may share your information with our business partners to offer you certain products, services or promotions.</span></span></span></li>
</ul>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#4"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info4">4. WHO WILL YOUR INFORMATION BE SHARED WITH?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short:</em></strong></span></span></span><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em> </em></strong></span></span></span><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We only share information with the following third parties.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We only share and disclose your information with the following third parties. We have categorized each party so that you may easily understand the purpose of our data collection and processing practices. If we have processed your data based on your consent and you wish to revoke your consent, please contact us.</span></span></span></p>

<ul>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Advertising, Direct Marketing, and Lead Generation</strong></span></span></span><br />
        <span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Google AdSense and Facebook Audience Network</span></span></span><br />
        &nbsp;</li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Cloud Computing Services</strong></span></span></span><br />
        <span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Amazon Web Services (AWS)</span></span></span><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span><br />
        &nbsp;</li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Communicate and Chat with Users</strong></span></span></span><br />
        <span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Facebook Customer Chat</span></span></span><br />
        &nbsp;</li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Social Media Sharing and Advertising</strong></span></span></span><br />
        <span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Facebook social plugins, Facebook advertising and Google+ social plugins</span></span></span></li>
    <li style="list-style-type:disc"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Web and Mobile Analytics</strong></span></span></span><br />
        <span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Google Analytics&nbsp;</span></span></span></li>
</ul>

<p style="margin-left:48px"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#5"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info5">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We may use cookies and other tracking technologies to collect and store your information.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may use cookies and similar tracking technologies to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our </span></span></span><a href="https://dzook.ai/cookie"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Cookie Policy</strong></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#6"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info6">6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>If you choose to register or log in to our services using a social media account, we may have access to certain information about you.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Our Services offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the Services. Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.</span></span></span></p>

<p>&nbsp;</p>

<p><a href="#7"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info7">7. HOW LONG DO WE KEEP YOUR INFORMATION?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the period of time in which users have an account with us.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</span></span></span></p>

<p><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#8"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info8">8. HOW DO WE KEEP YOUR INFORMATION SAFE?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>We aim to protect your personal information through a system of organizational and technical security measures.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the services within a secure environment.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#9"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info9">9. WHAT ARE YOUR PRIVACY RIGHTS?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If you have questions or comments about your privacy rights, you may email us at </span></span></span><a href="mailto:privacy@dzook.ai?subject=PRIVACY%20POLICY"><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><u>privacy@dzook.ai</u></span></span></span></a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span></p>

<p><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Account Information</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If you would at any time like to review or change the information in your account or terminate your account, you can:</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;■&nbsp; Contact us using the contact information provided.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><u>Cookies and similar technologies:</u></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong> </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><u>Opting out of email marketing:</u></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong> </strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list &ndash; however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;■&nbsp; Contact us using the contact information provided.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#10"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info10">10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">California Civil Code Section 1798.83, also known as the &ldquo;Shine The Light&rdquo; law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If you are under 18 years of age, reside in California, and have a registered account with the Services, you have the right to request removal of unwanted data that you publicly post on the Services. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Services, but please be aware that the data may not be completely or comprehensively removed from our systems.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#11"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info11">11. DO WE MAKE UPDATES TO THIS POLICY?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong><em>In Short: </em></strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong>&nbsp;</strong></span></span></span><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><em>Yes, we will update this policy as necessary to stay compliant with relevant laws.</em></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We may update this privacy policy from time to time. The updated version will be indicated by an updated &ldquo;Revised&rdquo; date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><a href="#12"><span style="font-size:13.999999999999998pt"><span style="font-family:Arial"><span style="color:#000000"><strong id="info12">12. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</strong></span></span></span></a></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">If you have questions or comments about this policy, you may email us at </span></span></span><a href="mailto:privacy@dzook.ai?subject=PRIVACY%20POLICY" style="text-decoration:none">privacy@dzook.ai</a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000"><strong> .</strong></span></span></span></p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><strong>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</strong></span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Based on the laws of some countries, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information mail us at </span></span></span><a href="mailto:privacy@dzook.ai?subject=PRIVACY%20POLICY" style="text-decoration:none">privacy@dzook.ai</a><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">We will respond to your request within 30 days.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">3dzook, Inc</span></span></span><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">.</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">2035 Sunset Lake Road</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">Newark, DE 19702</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">United States</span></span></span></p>

<p><span style="font-size:11.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:13.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:10.5pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></p>

<p>&nbsp;</p>
